body {
    background-color: #EAEAF4;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 3fr;
    grid-gap: 2px;
    grid-template-areas: "sidebar inputsection" "sidebar cardsection"
}

.search-form {
    display: inline-flex;
    margin-bottom: 15px;
}

#search-btn {
    background-color: #353567;
    background-image: url('./assets-ideabox/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    border-radius: 2px;
    border: 1px solid #4B4F99;
    margin-right: 0;
    padding: 10px;
    width: 10%;
}

#search-input {
    border-left: 0;
    border-radius: 2px;
    border: 1.5px solid #4B4F99;
    color: #353567;
    font-size: .85em;
    font-weight: 300;
    margin-left: 0;
    padding: 10px;
    width: 87%;
}

/* DEFAULT STYLING FOR STYLE STAR IMAGE ON A CARD */
.star-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background: url('./assets-ideabox/star.svg');
    border-style: none;
    height: 30px;
    width: 30px;
}

/* STYLING FOR STAR IMAGE ON CARD WHEN TOGGLE TO ACTIVED */
.star-image-active {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background: url('./assets-ideabox/star-active.svg');
    border-style: none;
    height: 30px;
    width: 30px;
}

.delete-btn {
    background: url('./assets-ideabox/delete.svg');
}

#comment-btn {
    background: url('./assets-ideabox/comment.svg');
}

.card-section {
    background-color: #EAEAF4;
    display: flex;
    flex-wrap: wrap;
    grid-area: cardsection;
    padding-left: 2%;
}

.card {
    background-color: #FFFFFF;
    border: 1.5px solid #1F1E3C;
    height: fit-content;
    margin: 10px;
    width: 225px;
}

.card-body {
    padding: 10px;
}

h2 {
    font-size: 1em;
}

#card-body-p {
    font-weight: 300;
    color: #1f1f3d;
}

header {
    background-color: #1F1E3C;
    display: flex;
    justify-content: space-between;
}

#star-btn,
.delete-btn,
#comment-btn {
    background-repeat: no-repeat;
    border: none;
    height: 30px;
    width: 30px;
}

footer {
    align-items: center;
    background-color: #5356A5;
    color: white;
    display: flex;
    padding: 0;
}

#comment {
    margin: 0;
    padding: 5px;
}

.sidebar {
    background-color: #1f1f3d;
    grid-area: sidebar;
    height: 100vh;
    margin: 0;
    position: fixed;
    width: 20%;
}

.title {
    border-bottom: 2px solid #353567;
    color: #e9e9f3;
    font-size: .75em;
    padding-left: 10px;
}

.filter {
    border-bottom: 2px solid #353567;
    color: #BFBFDD;
    display: flex;
    flex-direction: column;
    font-size: .65em;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#show-starred-btn {
    background-color: #5356A5;
    border-radius: 2px;
    border: 1px solid #4B4F99;
    color: #e9e9f3;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 5px;
}

.input-section {
    background-color: #A9AAD2;
    grid-area: inputsection;
}

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.title-input,
.body-input {
    border-radius: 3px;
    border: 2px solid #4B4F99;
    font-size: 1.5em;
    margin-top: 4px;
}

.body-input {
    height: 100px;
}

.input-labels {
    font-size: .75em;
    margin-top: 15px;
}

.save-btn-disabled {
    background-color: #858696;
    border-radius: 3px;
    border: 2px solid #4B4F99;
    color: #BFBFDD;
    cursor: not-allowed;
    font-size: 1em;
    font-weight: 700;
    margin: 15px 0;
    padding: 10px 0;
}

.save-btn {
    background-color: #353567;
    border-radius: 3px;
    border: 2px solid #4B4F99;
    color: #BFBFDD;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    margin: 15px 0;
    padding: 10px 0;
}

#show-starred-btn:hover,
#star-btn:hover,
#delete-btn:hover,
#comment-btn:hover,
#search-btn:hover,
#comment:hover {
    cursor: pointer;
}

@media screen and (max-width: 950px) {
    .card-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    main {
        grid-template-rows: 2fr 3fr;
    }
    #search-btn {
        width: 50px;
    }
    #show-starred-btn {
        font-size: 1em;
    }
    .sidebar {
        width: 25%;
    }
}

@media screen and (max-width: 700px) {
    main {
        display: block;
    }
    .sidebar {
        background-image: url('./assets-ideabox/menu.svg');
        background-position-x: 3%;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 40px;
        height: auto;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    .filter {
        display: none;
    }
    .input-section {
        padding-top: 50px;
        text-align: center;
        width: 100%;
    }
    .card-section {
        padding-left: 0;
        width: 100%;
    }
    .form {
        display: flex;
        width: 100%;
    }
    .title-input,
    .body-input {
        margin: auto;
        width: 90%;
    }
    #save-btn {
        margin: 10px auto;
        width: 92%;
    }
    .search-form {
        display: inline-flex;
        justify-content: center;
        margin: 3% auto;
        width: 96%;
    }
    #search-btn {
        display: inline-flex;
    }
    #search-input {
        width: 85%;
    }
    .card {
        width: 90%;
    }
    .input-labels {
        padding-left: 4.5%;
        text-align: left;
    }
    /* DROPDOWN MENU TOGGLED ON */
    /* .sidebar {
        background-image: url('./assets-ideabox/delete.svg');
        background-position-x: 3%;
        background-position-y: 4%;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 50px;
        height: auto;
        margin: 0;
        text-align: center;
        width: 100%;
    }
    .filter {
        text-align: left;
    }
    #show-starred-btn {
        font-size: 1.8em;
        padding: 14px;
    } */
}

@media screen and (min-width: 1550px) {
    main {
        grid-template-rows: 2fr 3fr;
    }
    .title,
    .filter {
        padding: 0 7%;
    }
}
